
<section class="max-w-[35rem]  mx-auto">
    <h2 class="font-extrabold text-2xl my-3">Add a Post</h2>
    <form action="/admin/edit-post" method="post" class="flex gap-3 flex-col  ">
        <input type="text" name="title" id="" placeholder="Title" class="border-1 h-12 px-3 py-1 rounded">
        
        <textarea class="border-1 resize-none px-3 py-1 rounded"  name="description" id="" rows="8" cols="60" placeholder="Description"></textarea>

         <input type="submit" value="Submit" class="bg-linear-to-l from-sky-300 to-emerald-100 px-4 py-1.5 cursor-pointer rounded-lg shadow font-bold text-gray-700 hover:text-gray-500 self-start">
    </form>
</section>