
<footer class="w-[100%] mt-5 mx-auto p-2 bg-gray-800 text-white">
    <div class=" w-full grid md:grid-cols-4 min-h-64 **:flex **:items-center **:justify-center **:flex-col **:flex-wrap  text-[14px]">
        <div class="brand col-span-2 text-center md:border-r-4 border-gray-500">
            <h2>Brand Name</h2>
        </div>

        <div class="contact border-r-4 border-gray-500">
            <a href="">ashish@gmail.com</a>
            <address>Hillow market, Teribazar</address>
            <address>Sador Netrokona</address>
        </div>

        <div class="about-us ">
            <p>Current Series</p>
            <p>Looking Back</p>
            <p>The House</p>
        </div>
    </div>

    <p class="text-center text-[12px] mt-12">copyright &copy; Tailwind Blogsite 2025 April 22th</p>
</footer>