
<section>

<div class="author text-center my-20">
    <h1 class="text-6xl font-bold mb-8">Hi, I am Reddy.</h1>
    <h3 class="text-3xl font-semiboldbold">Web developer & Content creator</h3>
</div>

<div class="">
    <img class="w-[60rem] mx-auto object-fill h-auto rounded-lg shadow-2xl" src="./image/hero-image.webp" alt="">
</div>


                                            <!-- Body Section Ends Here -->


                                            <!-- Posts Section Starts Here --> 

<div class="posts max-w-[64rem]  mx-auto my-10 group px-6">
    <h1 class="text-3xl font-bold mb-10">Latest Posts</h1>

    <div class="post md:flex justify-between items-center cursor-pointer py-5 border-b border-sky-200 hover:blur-none group-hover:blur-sm hover:!blur-none transition-all">
        <p class="text-[1.5rem] font-semibold mb-3">Learn JS</p>
        <span class="text-[1rem] ">Sun Jan 26 2025</span>
    </div>

    <div class="post md:flex justify-between items-center cursor-pointer py-5 border-b border-sky-200 hover:blur-none group-hover:blur-sm hover:!blur-none transition-all">
        <p class="text-[1.5rem] font-semibold mb-3">Learn Express JS</p>
        <span class="text-[1rem] ">Sun Jan 26 2025</span>
    </div>

    <div class="post md:flex justify-between items-center cursor-pointer py-5 border-b border-sky-200 hover:blur-none group-hover:blur-sm hover:!blur-none transition-all">
        <p class="text-[1.5rem] font-semibold mb-3">Learn Node JS</p>
        <span class="text-[1rem] ">Sun Jan 26 2025</span>
    </div>
</div>


</section>