
<section>

    

    <form action="" class="max-w-[35rem]  mx-auto flex flex-col p-5 gap-5">
    
        <div class="flex sm:flex-row flex-col sm:items-center gap-1 py-3 relative">
            <label for="username">Username</label>
            <input type="text" name="username" id="" class="border-1 rounded w-2xs h-8 sm:absolute left-40">
        </div>

        <div class="flex sm:flex-row flex-col sm:items-center gap-1 py-3 relative ">
            <label for="password">Password</label>
            <input type="password" name="password" id="" class="border-1 rounded w-2xs h-8 sm:absolute left-40">
        </div>

        <div>
            <input type="submit" value="Sign In" class="bg-linear-to-l from-sky-300 to-emerald-100 px-3.5 py-1 cursor-pointer rounded-lg shadow font-bold text-gray-700 hover:text-gray-500 self-start">
        <span class="ml-3 text-[14px]"> Or <a class="font-bold text-base ml-3" href="/register">Register</a></span>
        </div>


    </form>
</section>