
<h1 class="text-3xl font-bold mb-10 text-center" >Search page is loaded successfully</h1>

<!-- Search Posts Starts Here --> 

<div class="posts max-w-[64rem]  mx-auto my-10 group px-6">
    <h1 class="text-3xl font-bold mb-10">Search Result</h1>

  <% if (searchData) { %>
    <% searchData.forEach(post => { %>
        <div class="post md:flex justify-between items-center cursor-pointer py-5 border-b border-sky-200 hover:blur-none group-hover:blur-[2px] hover:!blur-none transition-all">
        <a href="/post/<%=post._id%>"> <p class="text-[1.5rem] font-semibold mb-3"><%=  post.title %> </p> </a> 
            
            
    
        </div>
    <% }) %>
  <% } %>

  <h1>No Search Result Found</h1>
  
  
</div>