<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./src/output.css" rel="stylesheet">
    <!-- Fronts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Fronts Links End -->




</head>

<body class="bg-linear-to-t from-sky-300  to-emerald-100  font-[Poppins]  ">

<!-- Header statrs -->

<%- include('../Partials/header.ejs') %>



                                                <!-- Body Section Starts Here -->

 <%- include('../indexBody.ejs') %>

                                                <!-- Posts Section Ends Here -->




    <%- include('../Partials/footer.ejs') %>









<!-- Icon -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

<!-- Icon End-->






</body>

</html>



<script>
    const navUl = document.querySelector('.nav-ul')

    const hideMenu = function(event){
        event.name = event.name === "menu" ? "close" : "menu";
        navUl.classList.toggle('top-[64px]')
        

        window.addEventListener('resize',(e)=>{           
            if(innerWidth >= 768){
                event.name = "menu"
                navUl.classList.remove('top-[64px]');
                
            }
         
    })
    }




</script>